<div fxFlexFill [fxLayout]="'row'" fxLayoutAlign="space-between">
  <button
    mat-icon-button
    color="primary"
    aria-label="Back button"
    (click)="back()"
  >
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <button
    mat-raised-button
    color="accent"
    aria-label="Back button"
    (click)="buyNow()"
  >
    Buy
  </button>
</div>

<div fxFlexFill class="book-list">
  <div
    fxFlexFill
    [fxLayout]="'row wrap'"
    fxLayoutGap="10px 5px grid"
    style="cursor: pointer"
  >
    <div fxFlex="40" *ngFor="let book of books; trackBy: trackById">
      <div class="one" fxFlexFill fxLayoutAlign="center center">
        <app-item-details [book]="book" [fullDetails]="false">
          <button mat-raised-button color="accent" (click)="remove(book)">
            Remove
          </button>
        </app-item-details>
      </div>
    </div>
  </div>
</div>
