<div fxFlexFill *ngIf="isLoad" class="book-list">
  <div
    fxFlexFill
    [fxLayout]="'row wrap'"
    fxLayoutGap="10px 5px grid"
    style="cursor: pointer"
    fxLayoutAlign="space-around center"
  >
    <div
      fxFlex="40"
      *ngFor="let book of books$ | async; trackBy: trackById"
      (click)="onSelect(book)"
    >
      <div class="one" fxFlexFill>
        <app-item-details
          [book]="book"
          [fullDetails]="false"
        ></app-item-details>
      </div>
    </div>
  </div>
</div>

<div fxFlexFill *ngIf="errorMessage">
  <p>{{ errorMessage }}</p>
</div>

<div fxFlexFill *ngIf="(books$ | async)?.length === 0 && searchKey">
  <p>Sorry, {{ searchKey }} books are not availble.</p>
</div>
